# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
accessible-pygments=0.0.4=pyhd8ed1ab_0
aiosqlite=0.19.0=pypi_0
alabaster=0.7.13=pyhd8ed1ab_0
anyio=3.7.0=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
asttokens=2.2.1=pyhd8ed1ab_0
async-lru=2.0.2=pypi_0
attrs=21.4.0=pyhd8ed1ab_0
babel=2.12.1=pyhd8ed1ab_1
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
beautifulsoup4=4.12.2=pyha770c72_0
bleach=6.0.0=pypi_0
brotli=1.0.9=hcfcfb64_8
brotli-bin=1.0.9=hcfcfb64_8
bzip2=1.0.8=h8ffe710_4
ca-certificates=2023.5.7=h56e8100_0
certifi=2023.5.7=pyhd8ed1ab_0
cffi=1.15.1=pypi_0
charset-normalizer=3.1.0=pyhd8ed1ab_0
click=8.1.3=win_pyhd8ed1ab_2
cloudpickle=2.2.1=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.1.3=pyhd8ed1ab_0
contourpy=1.1.0=pypi_0
cycler=0.11.0=pypi_0
dask=2023.6.0=pypi_0
dataclasses=0.8=pyhc8e2a94_3
debugpy=1.6.7=py311h12c1d0e_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
distributed=2023.6.0=pypi_0
docopt=0.6.2=pypi_0
docutils=0.17.1=py311h1ea47a8_3
executing=1.2.0=pyhd8ed1ab_0
fonttools=4.40.0=pypi_0
fqdn=1.5.1=pypi_0
frozendict=2.3.8=pypi_0
fsspec=2023.6.0=pypi_0
ghp-import=2.1.0=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.31=pypi_0
greenlet=2.0.2=py311h12c1d0e_1
html5lib=1.1=pypi_0
idna=3.4=pyhd8ed1ab_0
imagesize=1.4.1=pyhd8ed1ab_0
importlib-metadata=6.7.0=pyha770c72_0
importlib_metadata=6.7.0=hd8ed1ab_0
importlib_resources=5.12.0=pyhd8ed1ab_0
ipykernel=6.23.1=pyh025b116_0
ipython=8.14.0=pyh08f2357_0
isoduration=20.11.0=pypi_0
jedi=0.18.2=pyhd8ed1ab_0
jinja2=3.0.3=pypi_0
json5=0.9.14=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.17.3=pyhd8ed1ab_0
jupyter-book=0.15.1=pyhd8ed1ab_0
jupyter-cache=0.6.1=pyhd8ed1ab_0
jupyter-collaboration=1.0.1=pypi_0
jupyter-events=0.6.3=pypi_0
jupyter-lsp=2.2.0=pypi_0
jupyter-server=2.6.0=pypi_0
jupyter-server-fileid=0.9.0=pypi_0
jupyter-server-mathjax=0.2.6=pypi_0
jupyter-server-terminals=0.4.4=pypi_0
jupyter-ydoc=1.0.2=pypi_0
jupyter_client=8.2.0=pyhd8ed1ab_0
jupyter_core=5.3.1=py311h1ea47a8_0
kiwisolver=1.4.4=pypi_0
latexcodec=2.0.1=pyh9f0ad1d_0
libbrotlicommon=1.0.9=hcfcfb64_8
libbrotlidec=1.0.9=hcfcfb64_8
libbrotlienc=1.0.9=hcfcfb64_8
libexpat=2.5.0=h63175ca_1
libffi=3.4.2=h8ffe710_5
libsass=0.20.1=pypi_0
libsodium=1.0.18=h8d14728_1
libsqlite=3.42.0=hcfcfb64_0
libzlib=1.2.13=hcfcfb64_5
linkify-it-py=2.0.0=pyhd8ed1ab_0
llvmlite=0.40.1=pypi_0
locket=1.0.0=pypi_0
lxml=4.9.2=pypi_0
markdown-it-py=2.2.0=pyhd8ed1ab_0
markupsafe=2.1.3=py311ha68e1ae_0
matplotlib=3.7.1=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mdit-py-plugins=0.3.5=pypi_0
mdurl=0.1.0=pyhd8ed1ab_0
mistune=3.0.1=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.5=pypi_0
multitasking=0.0.11=pypi_0
myst-nb=0.17.2=pyhd8ed1ab_0
myst-parser=0.18.1=pyhd8ed1ab_0
nb_conda_kernels=2.3.1=py311h1ea47a8_2
nbclient=0.7.4=pyhd8ed1ab_0
nbconvert=7.6.0=pypi_0
nbdime=3.2.1=pypi_0
nbformat=5.9.0=pyhd8ed1ab_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
notebook=7.0.0=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.57.1=pypi_0
numpy=1.24.3=pypi_0
openssl=3.1.1=hcfcfb64_1
overrides=7.3.1=pypi_0
packaging=23.1=pyhd8ed1ab_0
pandas=2.0.2=pypi_0
pandas-datareader=0.10.0=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pyhd8ed1ab_0
partd=1.4.0=pypi_0
pdfkit=1.0.0=pypi_0
pickleshare=0.7.5=py_1003
pillow=9.5.0=pypi_0
pip=23.1.2=pyhd8ed1ab_0
pipreqs=0.4.13=pypi_0
pkgutil-resolve-name=1.3.10=pyhd8ed1ab_0
platformdirs=3.6.0=pyhd8ed1ab_0
prometheus-client=0.17.0=pypi_0
prompt-toolkit=3.0.38=pyha770c72_0
prompt_toolkit=3.0.38=hd8ed1ab_0
psutil=5.9.5=py311ha68e1ae_0
pure_eval=0.2.2=pyhd8ed1ab_0
pybtex=0.24.0=pyhd8ed1ab_2
pybtex-docutils=1.0.2=py311h1ea47a8_2
pycparser=2.21=pypi_0
pydata-sphinx-theme=0.13.3=pyhd8ed1ab_0
pygments=2.15.1=pyhd8ed1ab_0
pyparsing=3.1.0=pypi_0
pyrsistent=0.19.3=py311ha68e1ae_0
pysocks=1.7.1=pyh0701188_6
python=3.11.4=h2628c8c_0_cpython
python-dateutil=2.8.2=pyhd8ed1ab_0
python-fastjsonschema=2.17.1=pyhd8ed1ab_0
python-json-logger=2.0.7=pypi_0
python_abi=3.11=3_cp311
pytz=2023.3=pyhd8ed1ab_0
pywin32=304=py311h12c1d0e_2
pywinpty=2.0.10=pypi_0
pyyaml=6.0=py311ha68e1ae_5
pyzmq=25.1.0=py311h7b3f143_0
quantecon=0.7.1=pypi_0
quantecon-book-theme=0.5.1=pypi_0
requests=2.31.0=pyhd8ed1ab_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rjsmin=1.1.0=pypi_0
scipy=1.10.1=pypi_0
send2trash=1.8.2=pypi_0
setuptools=67.7.2=pyhd8ed1ab_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pyhd8ed1ab_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.3.2.post1=pyhd8ed1ab_0
sphinx=5.0.0=pypi_0
sphinx-book-theme=1.0.1=pyhd8ed1ab_0
sphinx-comments=0.0.3=pyh9f0ad1d_0
sphinx-copybutton=0.5.2=pyhd8ed1ab_0
sphinx-design=0.3.0=pyhd8ed1ab_0
sphinx-exercise=0.4.1=pypi_0
sphinx-external-toc=0.3.1=pyhd8ed1ab_0
sphinx-jupyterbook-latex=0.5.2=pyhd8ed1ab_0
sphinx-multitoc-numbering=0.1.3=pyhd8ed1ab_0
sphinx-thebe=0.2.1=pyhd8ed1ab_0
sphinx-togglebutton=0.3.2=pyhd8ed1ab_0
sphinx-tojupyter=0.3.0=pypi_0
sphinxcontrib-applehelp=1.0.4=pyhd8ed1ab_0
sphinxcontrib-bibtex=2.5.0=pyhd8ed1ab_0
sphinxcontrib-devhelp=1.0.2=py_0
sphinxcontrib-htmlhelp=2.0.1=pyhd8ed1ab_0
sphinxcontrib-jsmath=1.0.1=py_0
sphinxcontrib-qthelp=1.0.3=py_0
sphinxcontrib-serializinghtml=1.1.5=pyhd8ed1ab_2
sphinxext-rediraffe=0.2.7=pypi_0
sqlalchemy=2.0.16=py311ha68e1ae_0
stack_data=0.6.2=pyhd8ed1ab_0
sympy=1.12=pypi_0
tabulate=0.9.0=pyhd8ed1ab_1
tblib=2.0.0=pypi_0
terminado=0.17.1=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=h8ffe710_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
tornado=6.3.2=py311ha68e1ae_0
traitlets=5.9.0=pyhd8ed1ab_0
typing-extensions=4.6.3=hd8ed1ab_0
typing_extensions=4.6.3=pyha770c72_0
tzdata=2023.3=pypi_0
uc-micro-py=1.0.1=pyhd8ed1ab_0
ucrt=10.0.22621.0=h57928b3_0
uri-template=1.3.0=pypi_0
urllib3=2.0.3=pyhd8ed1ab_0
vc=14.3=hb25d44b_16
vc14_runtime=14.34.31931=h5081d32_16
vs2015_runtime=14.34.31931=hed1258a_16
wcwidth=0.2.6=pyhd8ed1ab_0
web-compile=0.2.3=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.0=pypi_0
wheel=0.40.0=pyhd8ed1ab_0
win_inet_pton=1.1.0=pyhd8ed1ab_6
xz=5.2.6=h8d14728_0
y-py=0.6.0=pypi_0
yaml=0.2.5=h8ffe710_2
yarg=0.1.9=pypi_0
yfinance=0.2.22=pypi_0
ypy-websocket=0.12.1=pypi_0
zeromq=4.3.4=h0e60522_1
zict=3.0.0=pypi_0
zipp=3.15.0=pyhd8ed1ab_0
